
        .checked {
            color: orange
        }



        .fa-star:link {
            color: black;
        }

        .fa-star:visited {
            color: black;
        }


        .fa-star:hover {
            color: orange;
        }


